@import "../../../themes/generated/variables.base.scss";
@import "../../../variables.base.scss";
@import "../../../dx-styles.scss";

* {
  line-height: 150%;
  margin: 0px;
  padding: 0px;
}

.viewInfoMain {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;

  .viewinfo {
    height: 100%;
    padding: 12px 32px;
    // background-color: aquamarine;

    .docDetailInfo {
      height: 197px;
      // background-color: black;
      display: flex;
      // width: 100%;
      align-items: center;
      // border: 1px solid;
      // justify-content: center;
      gap: 24px;

      .docImg {
        width: 158px;
        height: 197px;
        // border: 1px solid green;
        // background-color: #FFFFFF;
        background-image: url("../../../SVG/1\ 2.png");
        background-size: cover; /* Cover the entire box without any spacing */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-position: center; /* Center the background image */
      }

      .docDetail {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        // background-color: green;

        .statusDetails {
          padding-bottom: 16px;
          .statusBtn {
            border-radius: 16px;
            height: 24px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;

            &[statustype="Completed"] {
              background-color: rgba(16, 126, 62, 0.09);
              .statusCircle {
                background-color: #0c6230;
              }
              .statusText {
                color: #0c6230;
              }
            }

            &[statustype="Lapsed"] {
              background-color: rgba(187, 0, 0, 0.09);
              .statusCircle {
                background-color: #910000;
              }
              .statusText {
                color: #910000;
              }
            }

            &[statustype="Pending"] {
              background-color: rgba(233, 115, 12, 0.09);
              .statusCircle {
                background-color: #934908;
              }
              .statusText {
                color: #934908;
              }
            }

            &[statustype="Draft"] {
              background-color: rgba(17, 100, 180, 0.09);
              .statusCircle {
                background-color: #0d4d8b;
              }
              .statusText {
                color: #0d4d8b;
              }
            }

            .statusCircle {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              margin-left: 8px;
              // margin-top: 5px;
            }
            .statusText {
              margin-left: 7px;
              margin-right: 8px;
              font-weight: 500;
              font-family: "Inter";
              font-size: 14px;
            }
          }
          .subtext {
            color: #687787;
            font-weight: 400;
            font-family: "Inter";
            font-size: 14px;
          }
        }

        .filenameClass {
          font-size: 20px;
          font-family: "Inter";
          font-weight: 500;
          color: #344450;
          padding-bottom: 8px;
        }

        .expiresClass {
          font-size: 14px;
          font-family: "Inter";
          font-weight: 500;
          color: #344450;
          padding-bottom: 16px;
        }

        .recClass {
          color: #687787;
          font-size: 14px;
          font-family: "Inter";
          font-weight: 500;
        }
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      margin: 32px 0px;
      background-color: #d9dde1;
    }

    .recText {
      font-size: 18px;
      font-family: "Inter";
      font-weight: 500;
      color: #344450;
      padding-bottom: 24px;
    }

    .recipientDet {
      height: auto;
      width: 100%;
      // background-color: #0C6230;

      .recinfo {
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 24px;
        width: 70%;
        // justify-content: center;

        .recidClass {
          height: 69px;
          width: 23px;
          font-size: 18px;
          font-weight: 500;
          font-family: "Inter";
          display: flex;
          align-items: center;
          justify-content: center;
          color: #344450;
        }

        .subrecInfo {
          // padding-bottom: 16px;
          width: 100%;
          font-family: "Inter";
          color: #344450;
          .headText {
            padding-bottom: 16px;
            font-size: 14px;
          }

          .recTxt {
            font-size: 16px;
          }

          .statusDetails {
            // height: 69px;
            display: flex;
            align-items: center;

            .statusBtn {
              border-radius: 16px;
              height: 24px;
              width: fit-content;
              display: flex;
              align-items: center;
              justify-content: center;

              &[statustype="Completed"] {
                background-color: rgba(16, 126, 62, 0.09);
                .statusCircle {
                  background-color: #0c6230;
                }
                .statusText {
                  color: #0c6230;
                }
              }

              &[statustype="Lapsed"] {
                background-color: rgba(187, 0, 0, 0.09);
                .statusCircle {
                  background-color: #910000;
                }
                .statusText {
                  color: #910000;
                }
              }

              &[statustype="Pending"] {
                background-color: rgba(233, 115, 12, 0.09);
                .statusCircle {
                  background-color: #934908;
                }
                .statusText {
                  color: #934908;
                }
              }

              &[statustype="Draft"] {
                background-color: rgba(17, 100, 180, 0.09);
                .statusCircle {
                  background-color: #0d4d8b;
                }
                .statusText {
                  color: #0d4d8b;
                }
              }

              .statusCircle {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: 8px;
                // margin-top: 5px;
              }
              .statusText {
                margin-left: 7px;
                margin-right: 8px;
                font-weight: 500;
                font-family: "Inter";
                font-size: 14px;
              }
            }
            .subtext {
              color: #687787;
              font-weight: 400;
              font-family: "Inter";
              font-size: 14px;
            }
          }
        }
      }
    }

    .orderText {
      font-size: 14px;
      font-family: "Inter";
      color: #344450;
    }

    .emMsgClass .emSubClass {
    //   padding-bottom: 28px;
      .orderText {
        padding-bottom: 16px;
      }
      .emSubText {
        font-size: 16px;
        font-family: "Inter";
        color: #344450;
      }
    }

    .emMsgClass .emSubClass:last-child{
        padding-top: 28px;
    }

    .trackClass{
        .trackBox{
            height: 56px;
            // background-color: #0c6230;
            display: flex;
            // justify-content: center;

            .trackGraphic{
                .trackCircle{
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    background-color: #DA1C5C;
                }

                .trackLine{
                    height: 43px;
                    width: 2px;
                    margin: 0px 7px;
                    border-left: 1.5px dashed #B3BAC3;
                }
            }

            .trackInfo{
                width: 100%;
                margin-left: 24px;
                // background-color: #0c6230;
                .trackText{
                    padding-top: 4px;
                    font-family: 'Inter';
                    font-size: 14px;
                    color: #687787;
                    margin-bottom: 16px;
                }
            }

        }

    }

  }
}
