*.js linguist-detectable=true
*.html linguist-detectable=false
*.python linguist-detectable=true
*.scss linguist-detectable=false
*.css linguist-vendored
*.less linguist-vendored
*.styl linguist-vendored
